<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.rhett.dao.ArticleMapper">
	
	<resultMap type="Article" id="articleMap">
		<id property="aid" column="aid"/>
		<result property="title" column="title"/>
		<result property="content" column="content"/>
		<association property="category" column="categoryId" javaType="Category" select="top.rhett.dao.CategoryMapper.getCategoryById"></association>
		<collection property="tags" column="aid" javaType="ArrayList" ofType="Tag" select="top.rhett.dao.TagMapper.getTagsByAarticleId"></collection>
	</resultMap>
	

	<insert id="addArticle" parameterType="Article" useGeneratedKeys="true" keyProperty="aid">
		insert into article (title, categoryId, content, publishDate) values (#{title}, #{category.cid}, #{content}, #{publishDate}) 
	</insert>
	
	<select id="getArticleCount" resultType="java.lang.Integer">
		select count(*) from article
	</select>
	
	<select id="queryArticlesByPage" parameterType="PageBean" resultType="Article">
		select * from article limit #{start}, #{length}
	</select>
	
	<select id="selectArticleById" parameterType="string" resultMap="articleMap">
		select * from article where aid = #{aid}
	</select>
	
	<update id="updateArticle" parameterType="Article">
		update article set title = #{title}, content = #{content}, categoryId = #{category.cid} where aid = #{aid}
	</update>
	
</mapper>